
body{
    background: #8d8c89;
}
main {
    text-align: center;
    
}
#slogan {
 font-size: 25px;
}
.capa{
    width: 70%;
    height: 100%;
}
.beneficios {
    background-color: #b1b1ad;
}
.foto-beneficios {
    width: 40%;
}